.keyboard-wrapper {

  padding-top: 2px;

  .ui-keyboard-input-current {
    z-index: 1;
    position: absolute;
    top: 285px;
    left: 113px;
  }
}

input {
  cursor: none;
  user-select: none;
  -webkit-user-select: none;
  position: absolute !important;
  top: 285px;
  left: 113px;
  font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif !important;
  margin: 0;
  padding: 0 9px 0 9px;
  height: 45px;
  width: 392px;
  color: #fff;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  border: 1px solid #fff;
  background-color: transparent;
  outline: none;
}

::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.3;
  font-weight: 500;
}

.error-message {
  position: absolute !important;
  top: 243px;
  left: 112px;
  z-index: 1;
  opacity: 0;
  position: relative;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: red;
  margin-top: 1em;
  transition: opacity 0.2s;
  .invalid & {
    opacity: 1;
  }
}

.ui-keyboard-keyset {
	text-align: center;
}

.ui-keyboard {
  div[name="normal"] {
    margin-left: 10px !important;
  }
  div[name="shift"] {
    margin-left: 10px !important;
  }
}

.ui-keyboard-button {
  font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 500;
	margin: 3px;
	border: none;
	border-radius: 3px;
	color: #FFF;
	background: rgba(#fff, 0.3);
	padding: 0;
  width: 74px;
  height: 58px;
  text-align: center;
  vertical-align: middle;
	cursor: none !important;
  &:active {
	   opacity: 0.8;
	}
}

.ui-state-hover {
  opacity: 0.8;
}

.ui-keyboard-space {
	width: 30%;
}

.ui-keyboard-button[data-name="1"]
 {
  margin-left: -20px;
}
.ui-keyboard-button[data-name="q"],
.ui-keyboard-button[data-name="Q"]
 {
  margin-left: 60px;
}
.ui-keyboard-button[data-name="a"],
.ui-keyboard-button[data-name="A"]
 {
  margin-left: 90px;
}
.ui-keyboard-button[data-name="shift"] {
  width: 93px;
}
.ui-keyboard-button[data-name="bksp"] {
  width: 105px;
}
.ui-keyboard-button[data-name="accept"] {
  width: 120px;
}
.ui-keyboard-button[data-name=".com"],
.ui-keyboard-button[data-name=".org"],
.ui-keyboard-button[data-name=".edu"] {
  width: 90px;
}

.ui-keyboard-spacer {
  display: inline-block;
}

button.btnJoin {
  z-index: 1;
  position: absolute;
  top: 352px;
  left: 113px;
  margin: 0;
  padding: 0;
  font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
  border-width: 0;
  display: block;
  border: none;
  cursor: none !important;
  width: 180px;
  height: 47px;
  background-color: #fdc242;
  &:focus {
    outline: none;
  }
  &:active {
    opacity: 0.8;
  }
}

#signup-form {

  overflow: hidden;
  width: 590px;
  height: 288px;
  padding-left: 110px;
  h1, h2 {
    margin: 0;
    padding: 0;
    line-height: 0;
    color: #fdc242;
  }
  h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
  }
  h2 {
    margin-top: 12px;
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
  }
}

#thank-you {

  overflow: hidden;
  width: 590px;
  height: 288px;
  padding-left: 110px;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
    color: #fdc242;
  }
  p {
    margin: 32px 0 0 0;
    padding: 0;
    color: #fdc242;
    font-size: 25px;
    line-height: 28px;
    font-weight: 500;
    width: 400px;
  }
}
